<div>
  <h1><%= t ".members" %></h1>
  <%= link_to t(".new"), new_dashboard_member_path %>
  <div>
    <%= render "search_form" %>
  </div>
  <div id="index-member">
    <%= render "table_member" %>
  </div>
</div>
