<h1>Welcome</h1>

<div>
  <p>Hello <%= @member.name %>,</p>
  <p>Your member account on our website has been created with:</p>
  <p>Email: <%= @member.email %></p>
  <p>Password: <%= @password %></p>
</div>
