<div><%= link_to "log out", destroy_user_member_session_path, method: :delete %></div>
<div><%= link_to "profile", user_profile_path %></div>
<div><%= link_to "tests", user_published_tests_path %> </div>
