<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t(".categories"), dashboard_categories_path %></li>
    <li class="breadcrumb-item"><%= link_to t(".new"), new_dashboard_category_path %></li>
  </ol>
</nav>
