<footer class="app-footer">
  <div>
    <a href="https://coreui.io">Ravio</a>
    <span>&copy; <%= Time.current.year %> creativeLabs.</span>
  </div>
  <div class="ml-auto">
    <span>Powered by</span>
    <a href="https://coreui.io">Ravio</a>
  </div>
</footer>
